/* partie responsive */
@media screen and (max:1000px) {
   .father-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .father-about div{
    width: 100%;
   }
    
    
}
@media screen and (max:850px) {
  header ul li a {
    color:green;
  }
}



/* partie destinee a l'ajout d'une classe active à un lien lors du défilemen */

.active-link{
  border-radius: 7px;
  padding: 10px;
  color:var(--color3);
  transition: .6s ease-in-out;
  background-color: var(--color2);
  border-bottom: 3px solid var(--color2);
}


/* partie dark mode */
.darkmode{
  display: flex;
  padding-left: 20px;
  flex-direction: column;

}
.darkmode h3{
  padding: 7px;
  border: 1px dashed pink;
 
}
.darkmode i{
  cursor: pointer;
font-size: 1.9rem;
}
.darkmode i:nth-child(1){
  color:#FFD700;
 
}

.dark{

  background: rgba(0, 0, 0, 0.5);
 background-color: #333;
 background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
 color:#fff;
}


.dark header{
  background-color: #121212;
}
.dark header ul li a{
  color: #f1f1f1; 
}
.dark header ul li a:hover{
  color: var(--color1);
}

.dark .home{
  background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0.8), rgba(0, 0, 0, 0.8)), url('/asset/background.webp');
  color: #f1f1f1;
}
.dark .home button.btn1 {
  background-color: #8b0000;
  background: green;
}
.dark .home button:hover{
  background-color: #f1f1f1;
}



    /* Pour les navigateurs WebKit (Chrome, Edge, Safari) */

body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: #000; 
}

body::-webkit-scrollbar-thumb {
  background-color: #fff; 
  border-radius: 10px; 
  border: 3px solid #000; 
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0; 
}